header{
    background-color:cornflowerblue;
}

footer{
    background-color: cornflowerblue;
}

hr{
    background-color: black;
}

.odd{
    color:grey;
}

.even{
    color:cadetblue;
}

#greeting{
    color:blueviolet;
}