header{
    background-color:cornflowerblue;
}

footer{
    background-color: cornflowerblue;
}

hr{
    background-color: black;
}

@font-face{
    src: url(fonts/Ubuntu-Regular.ttf);
    font-family: Ubuntu-Regular;
}

@font-face{
    src: url(fonts/FiraSans-Regular.ttf);
    font-family: FiraSans-Regular;
}

.odd{
    color:grey;
    font-family: Ubuntu-Regular;
}

.even{
    color:cadetblue;
    font-family: Ubuntu-Regular;
}

#greeting{
    color:blueviolet;
    font-family: FiraSans-Regular;
    
}

#name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}