header{
    background-color:cornflowerblue;
}

footer{
    background-color: cornflowerblue;
}

hr{
    background-color: black;
}

.odd{
    color:grey;
    font-family: "lucida console", "courier new";
}

.even{
    color:cadetblue;
    font-family: georgia, cambria;
}

#greeting{
    color:blueviolet;
}

#name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}